   <!--Footer-->
    <footer class="custom-footer text-center text-lg-start mt-5">
  <div class="container p-4">
    <div class="row">
      <!-- About -->
      <div class="col-lg-4 col-md-6 mb-4">
        <h5 class="text-uppercase footer-heading">VOBIN</h5>
        <p class="footer-text">
          Sadece danışmanlık değil, aynı zamanda çözüm ortağı olmayı hedefleyen Vobin, sektörel farklılık yaratan yaklaşımıyla işletmelerin verimlilik, kârlılık ve rekabet avantajı sağlamasına destek olur.
        </p>
      </div>

      <!-- Links -->
      <div class="col-lg-4 col-md-6 mb-4">
        <h5 class="text-uppercase footer-heading">Hızlı Linkler</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="{{ site.baseurl }}/" class="footer-link">Anasayfa</a></li>
          <li><a href="{{ site.baseurl }}/hakkimizda" class="footer-link">Hakkımızda</a></li>
          <li><a href="{{ site.baseurl }}/projects/rotafilo" class="footer-link">Projelerimiz</a></li>
          <li><a href="#" class="footer-link">İletişim</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-lg-4 col-md-12 mb-4">
        <h5 class="text-uppercase footer-heading">İletişim</h5>
        <p class="footer-text"><span class="footer-bold">Email:</span> info@vobin.com.tr</p>
        <p class="footer-text"><span class="footer-bold">Telefon:</span> +90 530 549 53 05</p>

        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/company/74063650/admin/page-posts/published/" target="_blank" style="text-decoration: none;">
          <i class="fab fa-linkedin fa-2x social-icon"></i>
        </a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/vobinyonetim/" target="_blank" style="text-decoration: none;">
          <i class="fab fa-instagram fa-2x social-icon"></i>
        </a>

        <!-- YouTube -->
        <a href="https://www.youtube.com/@VobinY%C3%B6netimDan%C4%B1%C5%9Fmanl%C4%B1k" target="_blank" style="text-decoration: none;">
          <i class="fab fa-youtube fa-2x social-icon"></i>
        </a>

      </div>
    </div>
  </div>
  <div class="text-center p-3 footer-bottom">
    © 2025 VOBIN | Tüm hakları saklıdır.
  </div>
</footer>
