   <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg custom-navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{{ site.baseurl }}/img/VobinLogo.png" alt="Vobin Logo" width="60" height="60" class = "logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Anasayfa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/hakkimizda/">Hakkımızda</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Projelerimiz
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Rotafilo Projesi</a></li>
                  <li><a class="dropdown-item" href="#">Prosista Projesi</a></li>
                  <li><a class="dropdown-item" href="#">Trendyol & Gelal Dağıtım</a></li>
                  <li><a class="dropdown-item" href="#">Gürün – Gurnex</a></li>
                  <li><a class="dropdown-item" href="#">BEK Dağıtım Modeli</a></li>
                  <li><a class="dropdown-item" href="#">CyberPlan | Sonlu Kapasite Üretim Planlama & Çizelgeleme Yazılımı</a></li>
                  <li><a class="dropdown-item" href="#">OperaMES</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  İş Birliklerimiz
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Corpital</a></li>
                  <li><a class="dropdown-item" href="#">CyberTech</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>